
<h2 class="film_title"><%= @film.title %></h2>
<ul>
    <li>Ticket price: £<%= @film.price%></li>
    <li>Screenings: <%= @film.screenings   %>  </li>
</ul>
<a class="back_button" href="/index"><< Back to Index</a>